
<div class="j7-shell__view j7-shell__view--academy">
  {{#each cards}}
    <article class="j7-shell__card">
      <header class="j7-shell__card-head">
        <div>
          <h3><i class="{{icon}} j7-shell__card-icon" aria-hidden="true"></i><span>{{title}}</span></h3>
          <p>{{description}}</p>
        </div>
      </header>
      {{#if metrics.length}}
        <div class="j7-shell__metrics">
          {{#each metrics}}
            <div class="j7-shell__metric">
              <span>{{label}}</span>
              <strong>{{value}}</strong>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if items.length}}
        <div class="j7-shell__list">
          {{#each items}}
            <div class="j7-shell__list-row">
              <span>{{label}}</span>
              <strong>{{value}}</strong>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if actions.length}}
        <div class="j7-shell__card-actions">
          {{#each actions}}
            {{#if panelId}}
              <button type="button" class="j7-shell__btn" data-action="openPanel" data-panel-id="{{panelId}}"><i class="{{icon}}"></i>{{label}}</button>
            {{else}}
              <button type="button" class="j7-shell__btn" data-action="executeShellAction" data-action-index="{{@index}}">
                <i class="{{icon}}"></i>{{label}}
              </button>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    </article>
  {{/each}}
</div>
